@model PagedList.IPagedList<FYPNFCWineSystem.Models.ActiveWine>

@{
    ViewBag.Title = "Your Wine";
}

<h2>Your Wine</h2>
<hr />
@using (Html.BeginForm())
{
    <p>
    Search by Wine Name: @Html.TextBox("SearchString")
    <input type="submit" value="Search" class="btn btn-primary" /></p>
}

<p>
    @Html.ActionLink("Create Your Wine", "Create",null, new { @class="btn btn-primary" }) 
    @Html.ActionLink("Remove all Tag Archive", "purgeTagAchieve",null, new { @class="btn btn-primary" })
    @Html.ActionLink("Reset Active Wine", "ResetDatabase",null, new { @class="btn btn-primary" })
</p>

 <hr size="3" align="center" noshade width="100%" color="#721818">

<table class="table table-hover">
    <tr>
        <th><center>
            @Html.ActionLink("Wine Name", "Index", new { sortOrder=ViewBag.NameSortParm, currentFilter=ViewBag.CurrentFilter })
        </center></th>
        <th><center>
            @Html.ActionLink("Wine Category", "Index", new { sortOrder = ViewBag.CateSortParm, currentFilter = ViewBag.CurrentFilter })
        </center></th>
        <th><center>
            @Html.ActionLink("Producer", "Index", new { sortOrder = ViewBag.producerSortParm, currentFilter = ViewBag.CurrentFilter })
        </center></th>
        <th><center>
            @Html.ActionLink("Country", "Index", new { sortOrder = ViewBag.countrySortParm, currentFilter = ViewBag.CurrentFilter })
        </center></th>
        <th><center>
            @Html.ActionLink("Vintage", "Index", new { sortOrder = ViewBag.vintageSortParm, currentFilter = ViewBag.CurrentFilter })
        </center></th>
        <th><center>
            @Html.ActionLink("Price (HKD)", "Index", new { sortOrder = ViewBag.PriSortParm, currentFilter = ViewBag.CurrentFilter })
        </center></th>
         <th><center>
            Actions
        </center></th>
         <th><center>
            Details
        </center></th>
        <th><center>
            Tag Archive
        </center></th>
        <th><center>
            
        </center></th>
    </tr>

@foreach (var item in Model) {
    <tr align="center">
        <td>
            @Html.DisplayFor(modelItem => item.WineTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WineCategory.WineCategoryName)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Producer)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
          <td>
            @Html.DisplayFor(modelItem => item.Vintage)
        </td>
                  <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WID}, new { @class="btn btn-default" })
            @Html.ActionLink("Delete", "Delete", new { id=item.WID }, new { @class="btn btn-default" })
        </td>
        <td>
            @Html.ActionLink("Click to view " + @Html.DisplayFor(modelItem => item.WineTitle ), "Details", new { id=item.WID }, new { @class="btn btn-default" })
        </td>
        <td>
            @Html.ActionLink("view Archive", "WineTagAchieve", new { id = item.WID }, new { @class="btn btn-default" })
        </td>
        <td>
            <a href="#" class="btn btn-primary">Share</a>
        </td>
    </tr>
}

</table>
<br>
<br>
<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount
     
    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("<<", "Index", new { page = 1, currentFilter = ViewBag.CurrentFilter })
        @Html.Raw(" ");
        @Html.ActionLink("< Prev", "Index", new { page = Model.PageNumber - 1, currentFilter = ViewBag.CurrentFilter })
    }
    else
    {
        @:<<
        @Html.Raw(" ");
        @:< Prev
    }
     
    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Next >", "Index", new { page = Model.PageNumber + 1, currentFilter = ViewBag.CurrentFilter })
        @Html.Raw(" ");
        @Html.ActionLink(">>", "Index", new { page = Model.PageCount, currentFilter = ViewBag.CurrentFilter })
    }
    else
    {
        @:Next >
        @Html.Raw(" ")
        @:>>
    }
</div>